@import 'devui-theme/styles-var/devui-var.scss';

.mc-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 0;
  border: 1px solid $devui-form-control-line;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: $devui-base-bg;
  box-shadow: 0 1px 8px 0 rgba(25, 25, 25, 0.06);

  &.mc-input-simple {
    border-radius: 24px;

    .mc-input-content {
      padding: 0 20px;
    }
  }

  &.mc-input-borderless {
    border: none;
  }

  &.mc-input-disabled {
    background-color: $devui-disabled-bg;
    cursor: not-allowed;
  }

  .mc-input-content {
    display: flex;
    align-items: flex-end;
    padding: 0 16px;
  }

  .mc-input-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    padding: 0 16px;

    .mc-input-foot-left {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;

      .mc-input-foot-count {
        color: #aeaeae;
        font-size: $devui-font-size-sm;
      }
    }
  }
}
